<template tag-name="login-comp">

    <div class="login-form" id="loginForm" style="display: block;">
        <h2>Login</h2>
            <label for="login-email">Email:</label>
            <lyte-input type="email" id="login-email" lt-prop-value= "{{lbind(loginEmail)}}"></lyte-input>
            <label for="login-password">Password:</label>
            <lyte-input type="password" id="login-password" lt-prop-value="{{lbind(loginPassword)}}" ></lyte-input>
            <lyte-button type="submit" lt-prop-appearance="primary" onclick='{{action("handleLogin")}}'>
                <template is="registerYield" yield-name="text" >
                    Login
                </template>
            </lyte-button>
    </div>
</template>