<template tag-name="signup-comp">

    <div class="signup-form" id="signupForm" style="display: block;">
        <h2>Signup</h2>
        <!-- <form onsubmit="event.preventDefault(); action('handleSignup')"> -->
          <label for="signup-name">UserName:</label>
          <lyte-input type="text" id="signup-name" lt-prop-value= "{{lbind(signupName)}}" ></lyte-input>
          <label for="signup-email">Email:</label>
          <lyte-input type="email" id="signup-email" lt-prop-value="{{lbind(signupEmail)}}"></lyte-input>
          <label for="signup-password">Password:</label>
          <lyte-input type="password" id="signup-password" lt-prop-value="{{lbind(signupPassword)}}" ></lyte-input>
          <lyte-button type="submit" lt-prop-appearance="primary" onclick='{{action("handleSignup")}}'>
            <template is="registerYield" yield-name="text">
              SignUp
            </template>
        </lyte-button>
        <!-- </form> -->
      </div>
</template>